extends ../base

block title
  | Conócenos

block content
  .about
    include ../partials/adress-partial
    .about-banner
      img(src='img/about-banner-1.jpg', alt='Banner')
    .about-info
      .about-info-title Misión
      .about-info-content
        | Otorgar servicios médicos y hospitalarios de alta calidad, garantizando la
        | seguridad de nuestros pacientes a costos accesibles
      .about-info-title Visión
      .about-info-content
        | Ser un hospital reconocido, líder y certificado a corto plazo en servicios
        | de salud integral en la localidad
      .about-info-title Valores
      .about-info-content
        ul
          li Responsabilidad
          li Profesionalismo
          li Honestidad
          li Calidad Humana
          li Respeto
    .about-banner
      img(src='img/about-banner-2.jpg', alt='Banner 2')
    .about-certs.about-info
      .about-info-title Certificaciones
      .about-certs-content
        | Av. Río Consulado No. 858, Col.El Arenal, Alcaldía Azcapotzalco, <br> CDMX, C.P 02980
      figure.about-certs-image
        img(src='img/about-certifications.png', alt='Certificaciones')
    .about-video
      .about-video-header
        span Todos los Videos
        .about-video-header-icons
          i.icon-share-alt
          i.icon-info
      .about-video-main
        img(src='img/black.jpg', alt='Fondo Video')
        .about-video-main-text
          .about-video-main-title Todos los videos
          a.about-video-main-button(href='#')
            i.icon-play
            span Reproducir video
      .about-video-search
        i.icon-search
        input(type='text', placeholder='Buscar video...')
      .about-video-list
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
        .item
          img(src='img/black.jpg', alt='Fondo video')
      .about-video-footer
        #videoArrowLeft.about-video-footer-arrow
          i.icon-long-arrow-alt-right.left
          span Anterior
        #videoArrowRight.about-video-footer-arrow
          span Siguiente
          i.icon-long-arrow-alt-right.right
