extends ../base

block title
  | Inicio

block content
  .home
    include ../partials/adress-partial
    .home-banner-container.firts
      .home-banner.home-banner-one
        .home-banner-one-content
          h1 RÍO CONSULADO
          h2 Somos la opción más segura y confiable en el cuidado de la salud
          a(href='/services.html', target='_blank') Ver video
    .home-banner-container
      .home-banner.home-banner-two
        .home-banner-two-content
          h2 CONOCE NUESTRAS
          h1 ESPECIALIDADES
    .home-banner-container
      .home-banner.home-banner-three
        .home-banner-three-content
          .item
            h1 PROMOCIONES
            a(href='#') Obtener Información
          .item
            h1 PROMOCIONES
            a(href='#') Obtener Información
          .item
            h1 PROMOCIONES
            a(href='#') Obtener Información
          .item
            h1 PROMOCIONES
            a(href='#') Obtener Información
          .item
            h1 PROMOCIONES
            a(href='#') Obtener Información
    .home-banner-container
      .home-banner.home-banner-four
        .home-banner-four-content
          h2 CONOCE NUESTROS
          h1 PAQUETES QUIRÚRGICOS
          h1 2021
          a(href='#') Conócelos Aquí
    .home-specialies
      h1 Hospital Río Consulado
      h2
        | En Hospital Río Consulado contamos con todas las especialidades médicas,
        | servicios de diagnóstico y tratamiento, para tu atención y la de tus
        | seres queridos
      .home-specialies-images
        figure.home-specialies-images-big
          img(src='img/specialty-big.png')
        .home-specialies-images-col.margin
          figure
            img(src='img/specialty-1.jpg')
            figcaption Laboratorio
          figure
            img(src='img/specialty-3.jpg')
            figcaption Maternidad
        .home-specialies-images-col
          figure
            img(src='img/specialty-2.jpg')
            figcaption Oftalmología
          figure
            img(src='img/specialty-4.jpg')
            figcaption Imagenologia
    .home-secures
      .home-secures-container
        figure.home-secures-item
          img(src='img/secures-1.png')
        figure.home-secures-item
          img(src='img/secures-2.png')
        figure.home-secures-item
          img(src='img/secures-3.png')
        figure.home-secures-item
          img(src='img/secures-4.png')
        figure.home-secures-item
          img(src='img/secures-5.png')
        figure.home-secures-item
          img(src='img/secures-6.png')
        figure.home-secures-item
          img(src='img/secures-7.png')
        figure.home-secures-item
          img(src='img/secures-8.png')
        figure.home-secures-item
          img(src='img/secures-9.png')
        figure.home-secures-item
          img(src='img/secures-10.png')
        figure.home-secures-item
          img(src='img/secures-11.png')
        figure.home-secures-item
          img(src='img/secures-12.png')
        figure.home-secures-item
          img(src='img/secures-13.png')
      a(href='#') Convenios y Aseguradoras
    .home-banner-container
      .home-banner.home-banner-five
        .home-banner-five-content
          h1 CONOCE NUESTRO
          h1.last DIRECTORIO MEDICO
          a(href='#') Encuentra una Especialidad
    include ../partials/blog-partial
