extends ../base

block title
  | Paquetes

block content
  .packages
    include ../partials/adress-partial
    .packages-banner.one
      h2 AMIGDALECTOMIA
      span.collapsible-id(data-id='package-1') Ver Paquetes
    #package-1.packages-packages
      figure
        img(src='img/paquetes-1.jpg')
      figure
        img(src='img/paquetes-2.jpg')
    .packages-banner.two
      h2 RODILLA Y CADERA
      span.collapsible-id(data-id='package-2') Ver Paquetes
    #package-2.packages-packages
      figure
        img(src='img/paquetes-10.jpg')
      figure
        img(src='img/paquetes-23.jpg')
    .packages-banner.three
      h2 MATERNIDAD
      span.collapsible-id(data-id='package-3') Ver Paquetes
    #package-3.packages-packages
      figure
        img(src='img/services-package-2.png')
      figure
        img(src='img/services-package-1.png')
    .packages-banner.four
      h2 HOMBRE
      span.collapsible-id(data-id='package-4') Ver Paquetes
    #package-4.packages-packages
      figure
        img(src='img/paquetes-4.jpg')
      figure
        img(src='img/paquetes-5.jpg')
      figure
        img(src='img/paquetes-19.jpg')
      figure
        img(src='img/paquetes-29.jpg')
      figure
        img(src='img/paquetes-20.jpg')
      figure
        img(src='img/paquetes-32.jpg')
      figure
        img(src='img/paquetes-33.jpg')
    .packages-banner.five
      h2 MUJER
      span.collapsible-id(data-id='package-5') Ver Paquetes
    #package-5.packages-packages
      figure
        img(src='img/paquetes-25.jpg')
      figure
        img(src='img/paquetes-11.jpg')
      figure
        img(src='img/paquetes-16.jpg')
      figure
        img(src='img/paquetes-30.jpg')
      figure
        img(src='img/paquetes-34.jpg')
      figure
        img(src='img/paquetes-27.jpg')
      figure
        img(src='img/paquetes-17.jpg')
    .packages-banner.six
      h2 HEMODIALISIS
      span.collapsible-id(data-id='package-6') Ver Paquetes
    #package-6.packages-packages
      figure
        img(src='img/paquetes-12.jpg')
    .packages-banner.seven
      h2 ESTOMAGO
      span.collapsible-id(data-id='package-7') Ver Paquetes
    #package-7.packages-packages
      figure
        img(src='img/paquetes-13.jpg')
      figure
        img(src='img/paquetes-14.jpg')
    .packages-banner.eight
      h2 HEMORROIDES
      span.collapsible-id(data-id='package-8') Ver Paquetes
    #package-8.packages-packages
      figure
        img(src='img/paquetes-15.jpg')
    .packages-banner.nine
      h2 HERNIA
      span.collapsible-id(data-id='package-9') Ver Paquetes
    #package-9.packages-packages
      figure
        img(src='img/paquetes-26.jpg')
    .packages-banner.ten
      h2 LIPOSUCCIÓN
      span.collapsible-id(data-id='package-10') Ver Paquetes
    #package-10.packages-packages
      figure
        img(src='img/paquetes-28.jpg')
    .packages-banner.eleven
      h2 RIÑON
      span.collapsible-id(data-id='package-11') Ver Paquetes
    #package-11.packages-packages
      figure
        img(src='img/paquetes-18.jpg')
    .packages-banner.twelve
      h2 NARIZ
      span.collapsible-id(data-id='package-12') Ver Paquetes
    #package-12.packages-packages
      figure
        img(src='img/paquetes-31.jpg')
    .packages-banner.thirteen
      h2 SAFENECTOMIA
      span.collapsible-id(data-id='package-13') Ver Paquetes
    #package-13.packages-packages
      figure
        img(src='img/paquetes-21.jpg')
      figure
        img(src='img/paquetes-22.jpg')
    .packages-banner.fourteen
      h2 APENDICECTOMÍA
      span.collapsible-id(data-id='package-14') Ver Paquetes
    #package-14.packages-packages
      figure
        img(src='img/paquetes-3.jpg')
      figure
        img(src='img/paquetes-6.jpg')
    .packages-banner.fiftheen
      h2 COLICISTECTOMÍA
      span.collapsible-id(data-id='package-15') Ver Paquetes
    #package-15.packages-packages
      figure
        img(src='img/paquetes-8.jpg')
      figure
        img(src='img/paquetes-9.jpg')
    include ../partials/blog-partial
