extends ../base

block title
  | Servicios

block content
  include ../partials/adress-partial
  .services
    video.services-video(
      autoplay,
      playsinline,
      loop,
      preload='metadata',
      muted
    )
      source(src='/video/services.mp4', type='video/mp4')
    h1.services-title Hospital Río Consulado
    h2.services-subtitle
      | En Hospital Río Consulado contamos con todas las especialidades médicas, servicios de diagnóstico y
      | tratamiento, para tu atención y la de tus seres queridos.
    .services-images
      figure
        img(src='img/new-services-1.png')
      figure
        img(src='img/new-services-2.png')
    .services-images
      figure
        img(src='img/new-services-3.png')
      figure
        img(src='img/new-services-4.png')
    .services-images
      figure
        img(src='img/new-services-5.png')
      figure
        img(src='img/new-services-6.png')
    .services-images
      figure
        img(src='img/new-services-7.png')
      figure
        img(src='img/new-services-8.png')
    .services-images
      figure
        img(src='img/new-services-9.png')
      figure
        img(src='img/new-services-10.png')
    figure.services-banner
      img(src='img/new-services-11.png')
    .home-specialies-images
      figure.home-specialies-images-big
        img(src='img/specialty-big.png')
      .home-specialies-images-col.margin
        figure
          img(src='img/specialty-1.jpg')
          figcaption Laboratorio
        figure
          img(src='img/specialty-3.jpg')
          figcaption Maternidad
      .home-specialies-images-col
        figure
          img(src='img/specialty-2.jpg')
          figcaption Oftalmologia
        figure
          img(src='img/specialty-4.jpg')
          figcaption Imagenologia

    .services-separator
    include ../partials/blog-partial
