extends ../base

block title
  | Directorio

block content
  .staff
    include ../partials/adress-partial
    .staff-banner
      .staff-banner-content
        h1
          span Encuentra un <br>
          span especialista
        a.general-link(href='#') Selecciona uno aqui
      figure
        img(src='img/s-1.jpg', alt='Family Image')
    .staff-info
      .staff-info-col
        h2 A-E
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Alergología
          .staff-info-content
            .item
              span DR. ANDREA GRANADOS GÓMEZ
              span Lunes Y Miércoles | Sábado
              span Lunes Y Miércoles A Partir De Las 14:00 H | Sábado A Partir De Las 8:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Angiología y Cirugía vascular
          .staff-info-content
            .item
              span DR. LIZBETH LINARTE MÁRQUEZ
              span Martes, Miércoles Y Viernes de 14:30 A 17:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Cardiología
          .staff-info-content
            .item
              span DR. JANETH MIJANGOS CHÁVEZ
              span Martes Y Jueves | Sábado
              span Martes Y Jueves 15:00 A 19:00 H | Sábado 13:00 A 15:00 H Y 17:30 -18:30 -19:30 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Cirugía General
          .staff-info-content
            .item
              span DR. ROGELIO MENDOZA ARCHER
              span Martes a Sábado de 11:00 a 14:00
            .item
              span DR. AZAEL PABLO RUIZ
              span Lunes a Sábado de 9:00 a 12:00
            .item
              span DR. ALAN R. GARCÍA MARÍN
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 15:30 A 18:30 H | Sábado 10:00 A 12:30 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Cirugía Pediátrica
          .staff-info-content
            .item
              span DR. ONÉSIMO AVILÉS GONZÁLEZ
              span Lunes A Viernes | Sábado
            .item
              span DR. AZAEL PABLO RUIZ
              span Lunes a Sábado de 9:00 a 12:00
              span Lunes A Viernes 14:30 A 18:30 H | Sábado 8:00 A 10:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Cirugía Plástica Estética y Reconstructiva
          .staff-info-content
            .item
              span DRA. ROSA MARÍA GUERRERO CAMPOS
              span Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Dermatología
          .staff-info-content
            .item
              span Lunes Y Jueves | Domingo
              span Lunes Y Jueves 14:00 A 17:00 H | Domingo 10:00 A 12:00 H
      .staff-info-col
        h2 G-0
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Gastroendoscopia
          .staff-info-content
            .item
              span DR. ALAN R. GARCÍA MARÍN
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 15:30 A 18:30 H | Sábado 10:00 A 12:30 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Gatro-Pediatría
          .staff-info-content
            .item
              span DRA. LETICIA CASTRO ORTIZ
              span Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Geriatría
          .staff-info-content
            .item
              span DR. ENRIQUE ALAVES TORRES
              span Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Ginecología
          .staff-info-content
            .item
              span DR. ÁNGEL G. SOLÍS RODRÍGUEZ
              span Lunes, Martes, Jueves Y Viernes | Sábado
              span
                | Lunes A Viernes 10:00 A 13:30 H Y 16:00 A 20:00 H |
                | Mar Y Jue 16:00 A 18:30 H | Sábado 9:00 A 14:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Hematología
          .staff-info-content
            .item
              span DRA. CLAUDIA BARÓN ARCE
              span Lunes A Viernes de 14:30 Y 15:00 H
            .item
              span DR. LUIS FERNANDO JACOBO
              span Lunes A Partir De 16:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Medicina General
          .staff-info-content
            .item
              span DRA. ELVIA ZAVALA LÓPEZ
              span Lunes A Jueves de 8:00 A 12:00 H
            .item
              span DRA. JOCELYN M. HERNÁNDEZ SALAZAR
              span Lunes A Viernes de 9:00 A 18:00 H
            .item
              span DR. MOISÉS TORREA PALACIOS
              span Martes Y Jueves | Domingo de 20:00 A 08:00 H
            .item
              span DR. JOSUÉ AGUILAR REYES
              span Lunes, Miércoles Y Viernes de 20:00 A 08:00 H
            .item
              span DR. YAIR SÁNCHEZ LÓPEZ
              span Sábado de 8:00 A 20:00 H
            .item
              span DR. RICARDO RESÉNDIZ GARCÍA
              span Martes Y Jueves de 12:00 A 20:00 H
            .item
              span DR. JUAN CARLOS OLVERA MORENO
              span Sábado Y Domingo
              span Sábado 20:00 A 08:00 H | Domingo 08:00 A 20:00 H
            .item
              span DRA. KARLA A. PINEDA ROMERO
              span Martes Y Jueves de 16:00 A 20:00 H
            .item
              span DRA. KAREN B. JIMÉNEZ VEGA
              span Lunes, Miércoles Y Viernes
              span Lunes Y Miércoles 16:00 A 20:00 H | Viernes 8:00 A 13:00H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Medicina Interna
          .staff-info-content
            .item
              span DR. A. EMILIO REYES JIMÉNEZ
              span Lunes, Martes Y Jueves | Miércoles Y Viernes
              span Lunes, Martes Y Jueves A Partir De 16:30 H | Miércoles Y Viernes Previa Cita
            .item
              span DR. RODOLFO H. RODRÍGUEZ MARTÍNEZ
              span Lunes A Viernes
              span Lunes A Viernes 10:00 A 14:00 H | Martes Solo Con Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Nefrología
          .staff-info-content
            .item
              span DRA. CATALINA GARCÍA RAMÍREZ
              span Lunes, Miércoles Y Viernes | Sábado Y Domingo
              span Lunes, Miércoles Y Viernes 14:30 A 18:00 H | Sábado Y Domingo Solamente Urgencias
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Neumología
          .staff-info-content
            .item
              span DR. JUVENCIO OSNAYA JUÁREZ
              span Sábado de 9:30 A 13:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Neurocirugía
          .staff-info-content
            .item
              span DR. VÍCTOR A. REYES RODRÍGUEZ
              span Martes Y Jueves de 16:00 A 20:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Neurología
          .staff-info-content
            .item
              span DRA. DIANA LÓPEZ
              span Lunes, Jueves Y Viernes
              span Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Nutriología
          .staff-info-content
            .item
              span LIC. DULCE KAREN LÓPEZ DOMÍNGUEZ
              span Lunes A Viernes | Sábado Y Domingo
              span Lunes A Viernes 9:00 A 14:00 H | Sábado Y Domingo Previa Cita 10:00 A 14:00 H
            .item
              span LIC. CARLOS HERNÁNDEZ MONDRAGÓN
              span Martes Y Jueves | Sábado Y Domingo
              span
                | Martes Y Jueves 7:00 A 8:00 H | Sábado A Partir De 14:00 H |
                | Domingo A Partir De 9:00 H
      .staff-info-col
        h2 O-U
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Odontología
          .staff-info-content
            .item
              span EDUARDO LÓPEZ GARCÍA GUERRERO
              span Martes, Miércoles Y Viernes | Sábado Y Domingo
              span
                | Martes Y Miércoles 11:00 A 19:00 H | Viernes 9:00 A 12:00 H | Sábado 9:00 A
                | 12:00 H | Domingo Previa Cita
            .item
              span RAQUEL TORRES
              span Lunes Y Miércoles | Sábado
              span Lunes Y Miércoles 10:00 A 13:30 H | Sábado A Partir De 14:30 H
            .item
              span ISAAC VÁZQUEZ (ORTODONCIA)
              span Jueves con Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Oftalmología
          .staff-info-content
            .item
              span DR. VIRGILIO LIMA GÓMEZ
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 15:00 Y 15:30 H | Sábado 8:00 A 13:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Oncología
          .staff-info-content
            .item
              span DR. JOSÉ EDUARDO ROVELO LIMA
              span Horario Abierto con Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Ortopedia
          .staff-info-content
            .item
              span DR. MARIO BOBADILLA CAZARES
              span Lunes A Jueves | Sábado
              span
                | Lunes 15:00 A 17:00 H | Martes 15:00 A 19:30 H | Miércoles 15:00 A
                | 19:30 H | Jueves 15:00 A 19:30 H | Sábado 8:00 A 10:00 H
            .item
              span DR. EDGAR CHÁVEZ LLAMAS
              span Martes Y Jueves | Sábado de 11:00 A 14:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Otorrinolaringología
          .staff-info-content
            .item
              span DRA. GRACIELA CHÁVEZ RAMÍREZ
              span Lunes A Viernes
              span Lunes A Viernes 12:30 A 13:30 H | Martes Y Jueves 17:00 Y 17:30 H
            .item
              span DRA. IARA PINEDA TEJEIRA
              span Lunes, Martes Y Jueves con Previa cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Otoneurología
          .staff-info-content
            .item
              span DRA. IARA PINEDA TEJEIRA
              span Lunes, Martes Y Jueves con Previa cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Pediatría
          .staff-info-content
            .item
              span DRA. GEORGINA VILLA CAMACHO
              span Lunes, Martes, Miércoles Y Viernes | Sábado Y Domingo
              span
                | Lunes 11:30 A 20:00 H | Martes: Previa Cita | Miércoles 11:30 A 20:00 H |
                | Viernes 11:30 A 20:00 H | Sábado 16:30 A 18:00 H | Domingo Previa Cita
            .item
              span DRA. VELIA ROSAS BENÍTEZ
              span Martes | Domingo
              span Martes 18:00 A 20:00 H | Domingo A Partir De Las 11:00 Am
          .staff-info-header.collapsible
            i
            span Neumología
          .staff-info-content
            .item
              span DR. JUVENCIO OSNAYA JUÁREZ
              span Sábado de 9:30 A 13:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Pediatría - Neumología
          .staff-info-content
            .item
              span DR. EDUARDO JERICO RODRÍGUEZ BUCHELI RAMÍREZ
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 7:00 A 18:00 H | Sábado Cualquier Horario
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Proctología
          .staff-info-content
            .item
              span DR. JESÚS TORRES PERALTA
              span Lunes A Viernes con Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Psiquiatría
          .staff-info-content
            .item
              span DR. MARIO CÉSAR GARCÍA ALANÍS
              span Lunes de 18:00 A 20:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Psicología
          .staff-info-content
            .item
              span LIC. ANGELICA ALTAMIRANO
              span Lunes, Miercoles Y Viernes de 15:00 A 19:00 H
            .item
              span LIC. KAREN LHOMAN ALAMILLA
              span Lunes A Viernes con Previa Cita
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Reumatología
          .staff-info-content
            .item
              span DRA. GRACIELA MERCADO MOLINA
              span Domingo de 11:30 A 13:30 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Terapia y Rehabilitación Física
          .staff-info-content
            .item
              span ELIZABETH CERVANTES
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 7:00 A 14:30 H | Sábado 9:00 A 17:00 H
            .item
              span OLIVIA NELLY OLEA RODRÍGUEZ
              span Lunes A Viernes | Domingo
              span Lunes A Viernes 14:00 A 21:00 H | Domingo 9:00 A 17:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Urología
          .staff-info-content
            .item
              span DR. ADRIÁN I. VILLA GUERRERO
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 12:00 A 14:00 H | Sábado 12:00 A 14:00 H
            .item
              span DR. ARTURO MORALES MORALES
              span Lunes, Miércoles Y Viernes | Sábado
              span Lunes, Miércoles Y Viernes 17:00 A 21:00 H | Sábado 14:00 A 16:00 H
        .staff-info-item
          .staff-info-header.collapsible
            i
            span Urología Pediátrica
          .staff-info-content
            .item
              span DR. ONÉSIMO AVILÉS GONZÁLEZ
              span Lunes A Viernes | Sábado
              span Lunes A Viernes 14:30 A 18:30 H | Sábado 8:00 A 10:00 H
    .staff-profile
      .staff-profile-header
        p
          span Encuntra un <br>
          span <strong>especialista</strong> de <br>
          span Hospital Río Consulado
        figure
          img(src='img/staff-2.jpg', alt='Alergología')
          figcaption Alergología
      .staff-profile-content
        figure
          img(src='img/staff-3.jpg', alt='Doctora')
          figcaption Doctora Premium
        .staff-profile-content-data
          span.bold Dra. Andrea Granados Gómez
          span.orange Alergología
          span Consultorio: 24
          span Teléfono: 5511227799
          span Ext: 34
          div
            span Previa Cita
            a(href='#') Ver Perfil
    .staff-services
      h2 Servicios
      .staff-services-images
        figure
          img(src='img/staff-services-1.png', alt='Ambulancia')
        figure
          img(
            src='img/staff-services-2.png',
            alt='Clinica de gastro-endoscopía'
          )
        figure
          img(src='img/staff-services-3.png', alt='Hemodialisis')
        figure
          img(src='img/staff-services-4.png', alt='Hospitalización')
        figure
          img(src='img/staff-services-5.png', alt='Imagenologia')
        figure
          img(src='img/staff-services-6.png', alt='Laboratorio')
        figure
          img(src='img/staff-services-7.png', alt='Quirófano')
        figure
          img(src='img/staff-services-8.png', alt='Rehabilitación fisica')
        figure
          img(src='img/staff-services-9.png', alt='Unidad Neonatal')
        figure
          img(
            src='img/staff-services-10.png',
            alt='Unidad de medicina crítica'
          )
        figure
          img(src='img/staff-services-11.png', alt='Urgencias')
        figure
    include ../partials/blog-partial
