html(lang='es')
  head
    title
      block title
    meta(content='width=device-width, initial-scale=1', name='viewport')
    meta(charset='utf-8')
    link(rel='icon', type='image/ico', href='img/favicon.ico')
  body
    nav.nav
      .nav-container
        .nav-logo-container
          a(href='/index.html')
            img.nav-logo(src='img/logo.png', alt='Navbar logo')
        .nav-option-wrapper
          .nav-option
            a.nav-option-link.border(href='/about.html')
              span conócenos
          .nav-option
            a.nav-option-link.border(href='/staff.html')
              span especialidades
          .nav-option
            a.nav-option-link.border(href='/services.html')
              span servicios
          .nav-option
            a.nav-option-link.border(href='#')
              span.pink maternidad
          .nav-option
            a.nav-option-link.border(href='/packages.html')
              span paquetes
          .nav-option
            a.nav-option-link.border(href='#')
              span.background pre-admisión
          .nav-option
            a.nav-option-link(href='#')
              span blog
        .hamburger-wrapper
          #hamburgerMenu.hamburger-line-container
            .hamburger-line
            .hamburger-line
            .hamburger-line
        #menuContainer.hamburger-menu-container
          .hamburger-menu
            .hamburger-menu-header
              a#hideHamburger
                img(src='img/close.svg')
            .hamburger-menu-body
              .hamburger-text-container
                a(href='#')
                  span.hamburger-text conocenos
              .hamburger-text-container
                a(href='#')
                  span.hamburger-text directorio
              .hamburger-text-container
                a(href='#')
                  span.hamburger-text servicios
              .hamburger-text-container
                a(href='#')
                  span.hamburger-text aseguradoras
              .hamburger-text-container
                a(href='#')
                  span.hamburger-text paquetes
              .hamburger-text-container
                a(href='#')
                  span.hamburger-text pre-admision
              .hamburger-text-container
                a(href='#')
                  span.hamburger-text blog
    block content
    footer.footer
      .footer-social
        a(href='#', target='_blank')
          i.icon-facebook-f
        a(href='#', target='_blank')
          i.icon-twitter
      figure.footer-logo
        img(src='img/logo-footer.png', alt='Footer Logo')
      .footer-link-container
        .footer-link
          a.border(href='#') conócenos
        .footer-link
          a.border(href='/staff.html') directorio
        .footer-link
          a.border(href='#') servicios
        .footer-link
          a.border(href='#') aseguradoras
        .footer-link
          a.border(href='#') pre-admisión
        .footer-link
          a.border(href='#') blog
      p.footer-text
        a(href='#') AVISO DE PRIVACIDAD
      p.footer-text Todos los derechos reservados. México 2021
