.about
  background-color $gray
  overflow auto
  &-banner
    margin-top 1.7rem
  &-info
    padding 3rem 4rem 0 4rem
    color $blue
    &-title
      font-family "Nexa Bold"
      font-size 3rem
      margin-bottom 0.5rem
    &-content
      font-weight $bold
      font-size 1.8rem
      margin-bottom 2.5rem
      ul
        list-style none
        margin 0
        padding 0
  &-certs
    &-content
      font-size 1.25rem
      margin-top 1rem
    &-image
      width 45%
      margin-top 1.5rem
      img
        width 100%
  &-video
    background-color white
    margin 3rem 3rem 5rem 3rem
    padding 1.5rem
    &-header
      display flex
      justify-content space-between
      align-items center
      span
        font-size 1.25rem
        color #242424
      &-icons
        color $blue
        i
          cursor pointer
          &:first-child
            padding-right 1rem
            margin-right 1rem
            border-right 1px solid black
    &-main
      margin-top 1rem
      position relative
      text-align center
      img
        width 100%
      &-text
        position absolute
        top 50%
        transform translateY(-50%)
        left 0
        right 0
      &-title
        color white
        font-size 3rem
        margin-bottom 2rem
      &-button
        background-color $blue
        color white
        border none
        outline none
        padding 0.7rem 1rem
        display inline-block
        border-radius 5px
        span
          padding-left 1rem
    &-search
      margin 1rem 0
      input
        border none
        outline none
        width 50%
        margin-left 0.5rem
    &-footer
      display flex
      justify-content space-between
      margin-top 1.5rem
      &-arrow
        display flex
        align-items center
        cursor pointer
        .left
          transform rotate(180deg);
          margin-right 0.5rem
        .right
          margin-left 0.5rem

