.home
  &-address
    background-image url("../../img/background-1.jpg")
    background-size cover
    display flex
    color white
    justify-content center
    align-items center
    text-align center
    padding 10px
    line-height 1.5
    .text
      border-right 1px solid white
      padding-right 20px
      margin-right 20px
      font-weight bold
    .phone
      font-family "Nexa Bold"
      font-size 1.5rem
      i
        margin-right 10px
  &-banner
    &-container
      background-color $gray
      padding 25px 0 25px 0
      &.firts
        padding-top 50px
    &-one
      background-image url("../../img/home.png")
      padding 14% 0
      background-size cover
      box-shadow: inset 0 0 0 1000px rgba(0,116,185,.3);
      &-content
        color white
        text-align center
        width 50%
        margin 0 auto
        h1
        h2
          font-family "Nexa Bold"
        h1
          font-size 4rem
        h2
          font-size 2rem
        a
          color white
          background-color $blue
          display block
          width 350px
          margin 0.7rem auto 0 auto
          padding 10px 0
          border-radius 30px
          font-family "Nexa Bold"
    &-two
      background url("../../img/banner-2.jpg")
      padding 14% 0
      background-size cover
      &-content
        color white
        text-align center
        width 50%
        margin 0 auto
        h1
        h2
          font-family "Nexa Bold"
        h1
          font-size 4rem
        h2
          font-size 2rem
        a
          color white
          background-color $blue
          display block
          width 50%
          margin 0 auto
          padding 10px 0
          border-radius 30px
          font-family "Nexa Bold"
    &-three
      background url("../../img/banner-3.jpg")
      padding 14% 0
      background-size cover
      &-content
        color white
        text-align center
        margin 0 auto
        h1
          font-family "Nexa Bold"
          font-size 4rem
        a
          color white
          background-color $blue
          display block
          width 350px
          margin 0 auto
          padding 10px 0
          border-radius 30px
          font-family "Nexa Bold"
    &-four
      background url("../../img/banner-4.jpg")
      padding 10% 0
      background-size cover
      box-shadow: inset 0 0 0 1000px rgba(0,116,185,.3);
      &-content
        color white
        text-align center
        width 70%
        margin 0 auto
        h1
        h2
          font-family "Nexa Bold"
        h1
          font-size 4rem
        h2
          font-size 2rem
        a
          color white
          background-color $blue
          display block
          width 350px
          margin 0 auto
          padding 10px 0
          border-radius 30px
          font-family "Nexa Bold"
    &-five
      background url("../../img/banner-5.jpg")
      padding 10% 0
      background-size cover
      &-content
        color white
        text-align center
        width 60%
        margin 0 0 0 auto
        h1
          font-size 4rem
          font-family "Nexa Bold"
        a
          color white
          background-color $blue
          display block
          width 350px
          margin 0 auto
          padding 10px 0
          border-radius 30px
          font-family "Nexa Bold"
  &-specialies
    background-color $gray
    padding 3rem 0
    h1
    h2
      color $blue
      text-align center
      width 90%
      margin 0 auto
    h1
      font-family "Nexa Bold"
      font-size 3rem
      margin-bottom 1rem
    h2
      font-size 1.85rem
    &-images
      display flex
      width 90%
      margin 3rem auto 0 auto
      justify-content center
      &-big
        flex-basis 38%
      &-col
        flex-basis 25.08%
        &.margin
          margin 0 1.5rem
        figure
          position relative
          &:first-child
            margin-bottom 1.5rem
          figcaption
            background-color $blue
            color white
            font-family "Nexa Bold"
            font-size 1.5rem
            position absolute
            z-index 2
            bottom 0.5em

  &-secures
    background-color #b7bbbe
    text-align center
    padding 2rem 0 2rem 0

    &-container
      display flex
      flex-wrap wrap
      justify-content center
      align-items center
      width 85%
      margin 0 auto
    &-item
      flex-basis 20%
      margin-bottom 1.5rem
    a
      color white
      background-color $blue
      display block
      width 350px
      margin 0 auto
      padding 10px 0
      border-radius 30px
      font-weight bold
  &-blog
    background-color $gray
    padding 1rem 0 2rem 0
    &-title
      text-align center
      color $blue
      font-family "Nexa Bold"
      font-size 2.5rem
      margin-bottom  2rem
    &-container
      background-color white
      width 90%
      margin 0 auto
      display flex
      justify-content space-between
      padding 1rem
    &-item
      flex-basis 31%
      &-image
        padding 50% 0
        background-size: cover !important
      &-title
        color $blue
        font-weight $bold
        text-align center
        display block
        margin-top 1rem
      &-actions
        display flex
        justify-content space-around
        align-items center
        margin-top 0.5rem
        .views
          color #86888a
          i
            margin-right 0.5rem
        .link
          color #86888a
        .like
          color #f15b64
