.packages
  background-color $gray
  &-banner
    padding 12% 0
    margin-bottom 2.5rem
    background-size cover
    &.one
      background-image url("../../img/services-1.jpg")
    &.two
      background-image url("../../img/services-2.jpg")
    &.three
      background-image url("../../img/services-3.jpg")
    &.four
      background-image url("../../img/services-4.jpg")
    &.five
      background-image url("../../img/services-5.jpg")
    &.six
      background-image url("../../img/services-6.jpg")
    &.seven
      background-image url("../../img/services-7.jpg")
    &.eight
      background-image url("../../img/services-8.jpg")
    &.nine
      background-image url("../../img/services-9.jpg")
    &.ten
      background-image url("../../img/services-10.jpg")
    &.eleven
      background-image url("../../img/services-11.jpg")
    &.twelve
      background-image url("../../img/services-12.jpg")
    &.thirteen
      background-image url("../../img/services-13.jpg")
    &.fourteen
      background-image url("../../img/services-13.jpg")
    &.fiftheen
      background-image url("../../img/services-13.jpg")
    h2
      font-family "Nexa Bold"
      font-size 4rem
      text-align center
      color white
    span
      color white
      background-color $blue
      display block
      width 200px
      margin 0.7rem auto 0 auto
      padding 10px 0
      border-radius 30px
      text-align center
      cursor pointer
  &-packages
    justify-content space-around
    margin-bottom 2.5rem
    display none
    flex-wrap wrap
    figure
      flex-basis 47%
      margin-bottom 40px
