.services
  background-color $gray
  &-video
    height 450px
    width 100%
    background-color black
    margin-bottom 2rem
  &-title
    color $blue
    text-align center
    font-size 3rem
    font-family "Nexa Bold"
  &-subtitle
    font-size 1.8rem
    color $blue
    text-align center
    margin 1rem auto 2.5rem auto
    width 80%
  &-images
    display flex
    margin-bottom 1rem
    figure
      &:first-child
        margin-left 1rem
        margin-right 0.5rem
      &:last-child
        margin-left 0.5rem
        margin-right 1rem
  &-banner
    padding-bottom 2rem
  &-separator
    padding 3rem 0
