.staff
  background-color $gray
  &-banner
    display flex
    background-color white
    width 90%
    margin 3rem auto 0 auto
    justify-content center
    align-items center
    &-content
      flex-basis 50%
      text-align center
      h1
        color $green
        font-family "Nexa Bold"
        font-size 3rem
        span
          display block
      a
        width 70%
        font-size 1.25rem
        margin-top 1rem
    figure
      flex-basis 50%
  &-info
    display flex
    justify-content space-around
    width 95%
    margin 2rem auto 0 auto
    &-col
      flex-basis 31%
      h2
        font-family "Nexa Bold"
        color $green
        text-align center
    &-header
      cursor pointer
      display flex
      i
      span
        color $blue
        font-size 1.5rem
        font-weight $bold
      i
        margin-right 0.5rem
        &:before
          font-family icons
          content: "\f068"
          font-style normal
      &.active
        span
          color $green
        i
          &:before
            font-family icons
            content: "\f067"
            font-style normal
    &-content
      margin-left 1.6rem
      display none
      overflow hidden
      .item
        margin-bottom 0.4rem
      span
        display block
        font-size 0.8rem
        &:first-child
          font-family "Nexa Bold"
    &-item
      line-height 1.5
  &-profile
    background-color $blue
    width 87%
    margin 3rem auto 0 auto
    padding 2rem 4rem 10rem 4rem
    &-header
      display flex
      justify-content space-between
      p
        font-size 2.7rem
        color white
        strong
          font-family "Nexa Bold"
      figure
        flex-basis 35%
        figcaption
          color white
          text-align center
          font-weight $bold
          font-size 2rem
          margin-top 0.5rem
    &-content
      margin-top 3rem
      display flex
      justify-content space-around
      align-items center
      figure
        flex-basis 35%
        text-align center
        img
          border-radius 50%
        figcaption
          text-align center
          background-color $orange
          color $blue
          font-family "Nexa Bold"
          display inline-block
          font-size 1.5rem
          padding 0.6rem 0.6rem 0.1rem 0.6rem
          margin-top 1rem

      &-data
        span
          display block
          font-size 2rem
          color white
          &.bold
            font-family "Nexa Bold"
          &.orange
            color $orange
            margin-bottom 1rem
        div
          margin-top 1rem
          display flex
          justify-content space-between
          align-items center
          a
            text-align center
            background-color $green
            color white
            font-family "Nexa Bold"
            display inline-block
            font-size 1.5rem
            padding 0.7rem 1rem 0.5rem 1rem


  &-services
    width 93%
    margin 4rem auto 3rem auto
    h2
      color $blue
      font-family "Nexa Bold"
      font-size 2.5rem
      margin-bottom 1.5rem
    &-images
      display flex
      flex-wrap wrap
      justify-content space-between
      figure
        flex-basis 24%
        margin-bottom 1rem

