.home-blog
  h1.home-blog-title CONSULTA NUESTRO BLOG
  .home-blog-container
    .home-blog-item
      .home-blog-item-image(style='background: url(\"img/blog-1.jpg\")')
      a.home-blog-item-title(href='#') La Importancia de la alimentación infantil
      .home-blog-item-actions
        span.views
          i.icon-eye
          | 6
        a.link(href='#') Escribir un comentario
        i.like.icon-heart

    .home-blog-item
      .home-blog-item-image(style='background: url(\"img/blog-2.jpg\")')
      a.home-blog-item-title.home-blog-item-title(href='#') Lo que tienes que saber de la diabetes
      .home-blog-item-actions
        span.views
          i.icon-eye
          | 6
        a.link(href='#') Escribir un comentario
        i.like.icon-heart

    .home-blog-item
      .home-blog-item-image(style='background: url(\"img/blog-3.jpg\")')
      a.home-blog-item-title.home-blog-item-title(href='#') Las variantes del coronavirus
      .home-blog-item-actions
        span.views
          i.icon-eye
          | 6
        a.link(href='#') Escribir un comentario
        i.like.icon-heart
