.footer
  background-color $blue
  display flex
  flex-direction column
  align-items center
  padding 40px 0 20px 0
  font-size 0.8rem
  &-social
    a
      font-size 2rem
      background-color white
      color $blue
      border-radius 50%
      width 50px
      height 50px
      display inline-block
      text-align center
      line-height 1.8
      margin 0 5px
  &-logo
    width 165px
    margin-top 20px
  &-link
    display inline-block
    a
      color white
      text-transform uppercase
      padding 10px
      &.border
        border-right 1px solid white

    &-container
      margin 20px 0
  &-text
    color white
    line-height 1.5
    a
      color white

