.nav
  height 90px
  left 0
  top 0
  width 100%
  z-index 12
  color $blue

  &-container
    align-items center
    display flex
    justify-content space-between
    height 100%
    padding 0 20px

  &-logo
    width 380px
    &-container
      margin 0 0 0 0

  &-option
    height 100%
    position relative
    display flex
    align-items center

    &-wrapper
      display flex
      height 100%
      justify-content flex-end
      align-items center
    &-link
      text-decoration none
      padding 10px 10px
      color $blue
      &.border
        border-right  1.5px solid $blue
      span
        text-transform uppercase
        &.background
          color white
          background-color $blue
          font-family "Nexa Bold"
          padding 5px 5px 3px 5px
          border-radius 5px
        &.pink
          color white
          background-color deeppink
          font-family "Nexa Bold"
          padding 5px 5px 3px 5px
          border-radius 5px


.hamburger
  display none

  &-menu-container
  &-wrapper
  &-submenu
    display none


@media screen and (max-width: 888px)
  .nav
    background $pink
    height 85px
    &-logo
      height 53px
      margin 0 20px

    &-option-wrapper
      display none

  .hamburger
    &-wrapper
      display flex
      justify-content flex-end
      flex-grow 1
      height 100%

    &-line
      background-color white
      height 3px
      width 26px

      &:nth-child(2)
        margin 4px 0

      &:last-child
        width 12px

      &-container
        display flex
        flex-direction column
        justify-content center
        padding 0 1em

    &-menu
      background-color $pink
      width 75%
      position absolute
      top 0
      bottom 0
      right 0

      &-container
        background white
        display inline
        bottom 0
        right 0
        overflow scroll
        padding-bottom 50px
        position fixed
        top 0
        transition width 0.3s, background 0.5s
        -webkit-transition width 0.3s, background 0.5s
        width 0
        z-index 13

      &-header
        align-items center
        display flex
        flex-direction row
        justify-content flex-end
        padding 22px 36px 50px 36px
        a
          width 20px
          cursor pointer
          img
            width 100%

      &-body
        margin 0 25px

    &-text
      color white
      letter-spacing 1.5px
      white-space nowrap
      font-size 17px

      &-container
        padding 15px 0

        a
          text-decoration none

#hamburgerMenu
  cursor pointer
