@font-face {
  font-family: 'Nexa Book';
  src: url('../fonts/Nexa-Book.woff2') format('woff2'),
    url('../fonts/Nexa-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa Bold';
  src: url('../fonts/Nexa-XBold.woff2') format('woff2'),
    url('../fonts/Nexa-XBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot');
  src:  url('../fonts/icons.eot') format('embedded-opentype'),
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-long-arrow-alt-right:before {
  content: "\f30b";
}
.icon-play:before {
  content: "\f04b";
}
.icon-info:before {
  content: "\f129";
}
.icon-share-alt:before {
  content: "\f1e0";
}
.icon-heart:before {
  content: "\f004";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook-f:before {
  content: "\f39e";
}
.icon-phone-alt:before {
  content: "\f879";
}
