.container
  width 1170px
  padding-bottom 50px
  overflow auto
  margin-left auto
  margin-right auto
  @media $lg
    width 940px
  @media $md
    width 600px
  @media $sm
    width 100%
    padding 0 18px

.tns-nav
  text-align center
  margin-top 20px
  button
    background-color white
    border none
    outline none
    height 15px
    width 15px
    border-radius 50%
    margin 0 5px
    &:hover
      background-color $gray

.general-link
  color white
  background-color $blue
  display block
  margin 0 auto
  padding 10px 0
  border-radius 30px
  font-weight $bold
